html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}